<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Card App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cards/styles.css' %}">
</head>
<body>
    <div class="navbar">
    <a href="{% url 'index' %}">Главная</a>

    {% if user.is_authenticated %}
        <a href="{% url 'add_card' %}">Добавить карточку</a>
        <a href="{% url 'cards_list' %}">Список</a>
        <a href="{% url 'anki' %}">Карточки</a>
        <span>Привет, {{ user.username }}!</span>
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="background: none; border: none; color: white; cursor: pointer;">
                Выйти
            </button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Вход</a>
        <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
</div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>