{% extends 'cards/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h2>Добро пожаловать на платформу для изучения английского языка! </h2>
    <h3> Изучать английский теперь просто, интересно и удобно.
На этом сайте ты можешь:

<br>✅ Добавлять новые слова на английском языке с переводами
<br>✅ Прикреплять изображения, чтобы лучше запоминать значение
<br>✅ Учить слова по карточкам, как в Anki или Duolingo
<br>✅ Постепенно расширять словарный запас и отслеживать прогресс

        <br> Используй визуальные ассоциации, тренируй память, возвращайся к сложным словам и изучай в удобном темпе.
Это идеальный инструмент как для начинающих, так и для тех, кто уже в пути ️к свободному владению языком. </h3>
</head>
<body>

</body>
{% endblock %}